$f_theme_color : #2b2e37;
$s_theme_color : #F9A727;
$t_theme_color : #ff4644;
$f_card_color  : #41AF57;
$s_card_color  : #9042A6;
$t__card_color : #0582B1;

$primary_color   : $f_theme_color;
$secondary_color : $s_theme_color;
$third_color     : $t_theme_color;

$body-bg: $primary_color;

$font-family-base : 'Luckiest Guy', cursive;

.layout-container {

    //background-color: yellow;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 1vh;
    margin-right: 1vh;
    height: auto;

      /* On screens that are 992px or less, set the background color to blue */
    @media screen and (max-width: 992px) {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
      
    /* On screens that are 600px or less, set the background color to olive */
    @media screen and (max-width: 600px) {
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
}
.container-header {

    background-color: $s_theme_color;
    height: 20vh;
    margin-bottom: 1vh;
    text-align: center;
    line-height: 20vh;
    color : #ffff;
    font-size: 90px;

}


    

@import '~bootstrap/scss/bootstrap.scss';