$f_theme_color : #2b2e37;
$s_theme_color : #8f9094;
$t_theme_color : #ff4644;

$primary_color   : $f_theme_color;
$secondary_color : $s_theme_color;
$third_color     : $t_theme_color;

$body-bg: $primary_color;

$font-family-base : 'Luckiest Guy', cursive;

.layout-container {

    background-color: yellow;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 1vh;
    margin-right: 1vh;
    height: auto;

      /* On screens that are 992px or less, set the background color to blue */
    @media screen and (max-width: 992px) {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
      
    /* On screens that are 600px or less, set the background color to olive */
    @media screen and (max-width: 600px) {
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
}


    

@import '~bootstrap/scss/bootstrap.scss';