$f_theme_color : #2b2e37;
$s_theme_color : #8f9094;
$t_theme_color : #ff4644;

$primary_color   : $f_theme_color;
$secondary_color : $s_theme_color;
$third_color     : $t_theme_color;

$body-bg: $primary_color;

$font-family-base : 'Luckiest Guy', cursive;

    

@import '~bootstrap/scss/bootstrap.scss';